# HTID:13319442: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:13319442:

# HTID:13320073: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 301 /docs https://lgsnexus.docs.apiary.io/
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:13320073:

RewriteEngine On
RewriteBase "/"
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ nexus/index.php [L]